.Chat
  .ChatHeader
    .ChatHeader__group
      .ChatHeader__groupName
        test
      %ul.ChatHeader__memberList
        Member:
        %li.ChatHeader__member
          なまえ
          name
          名前
    = link_to '#', class: "ChatHeader__editButton" do
      Edit
  .MessageList
    .MessageBox
      .MessageInfo
        .MessageInfo__userName
          name
        .MessageInfo__date 
          2020/08/14(Fri) 00:00
      .Message
        .Message__content
          おはよう！

    .MessageBox    
      .MessageInfo
        .MessageInfo__userName
          name
        .MessageInfo__date 
          2020/08/14(Fri) 01:00
      .Message
        .Message__content
          こんにちは！
  
  .ChatFooter
    %form.Form
      .Form__contents
        %input.Form__inputContent{type: 'text', placeholder: 'type a message'}
        %label.Form__inputImage
          = icon('fas', 'image', class: 'Form__icon')
          %input.HiddenFile{type: 'file'}
      %input.Form__submitBtn{type: 'submit', value: 'Send'} 